<!DOCTYPE html>
<!--
@File   : footer.html
@Author : Mauricio Trunfio ({__email})
@Link   : https://github.com/mtrunfio
@Date   : 2/26/2018, 8:47:50 PM
-->
<footer class="clearfix"></footer>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <p>
                <img src="assets/img/logo.png" alt="">
            </p>
            <p>Blocks Dashboard The3me - Crafted With Love - Copyright 2013</p>
        </div>

    </div>
    <!-- /row -->
</div>
<!-- /container -->