<!DOCTYPE html>
<!--
@File   : index.html
@Author : Mauricio Trunfio ({__email})
@Link   : https://github.com/mtrunfio
@Date   : 2/22/2018, 11:18:57 AM
-->
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo30.png" alt=""> traderBLOCKS</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">
                    <i class="icon-home icon-white"></i> Dashboard</a>
            </li>
            <li>
                <a href="/exchanges">
                    <i class="icon-folder-open icon-white"></i> Exchanges</a>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="icon-calendar icon-white"></i> Order History</a>
            </li>
            <li>
                <a href="tables.html">
                    <i class="icon-th icon-white"></i> My Account</a>
            </li>

        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
